/* AJUSTE DE PAGINA */
* {
  margin: 0;
  padding: 0;
}

/* BODY */
.fondoBody {
  background-image: url(../img/body.avif);
  overflow-x: hidden;
}

/* ENCABEZADO */
.tamlogo {
  width: 150px;
}

.encabezado {
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navcolor a {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.navcolor a:hover {
  color: magenta;
}

.color a {
  color: black;
}
.color a:hover {
  color: magenta;
}
.color a:active {
  background-color: #fafafa;
}

.centrarNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding: 0;
}

/* SOBRE NOSOTROS */
.info {
  padding: 30px;
  text-align: center;
  margin-bottom: 2rem;
}
.info h2 {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
.info p {
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
.info ul {
  list-style-type: none;
}
.info ul i {
  color: red;
}

.imgServicios {
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.frame {
  text-align: center;
  position: relative;
  cursor: pointer;
  perspective: 500px;
}

.frame .details {
  width: 70%;
  height: 80%;
  padding: 5% 8%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  transform-origin: 50%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all 0.4s ease-in;
}

.frame:hover .details {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}

/* SECTION SERVICIOS*/
.card-text {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedorCardServicios {
  padding-left: 15px;
  padding-right: 15px;
}

.divPresupuesto {
  text-align: center;
  background-color: rgb(73, 203, 247);
  padding: 10px;
  box-shadow: 10px 0px rgba(0, 0, 0, 0.5);
}
.divPresupuesto p {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
.divPresupuesto button {
  text-transform: uppercase;
}

.logoMarcas {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.logoMarcas:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* TRABAJOS REALIZADOS */
.imgTrabajo {
  border-radius: 10px;
  display: flex;
  align-items: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.imgTrabajo:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.imgImpermeabilizacion {
  display: flex;
  align-items: center;
}

/* CONTACTO */
.tituloContacto {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.tituloFormulario {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.divContacto {
  display: flex;
  align-items: center;
}

/* FOOTER */
footer {
  background-color: #333;
  color: #fafafa;
  margin-top: 20px;
  padding: 20px 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .whatsapp {
  color: #fafafa;
  border-color: #fafafa;
}
footer .whatsapp:hover {
  background-color: #128C7E;
  border: none;
}
footer .instagram {
  color: #fafafa;
  border-color: #fafafa;
}
footer .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border: none;
}
footer .divIzq, footer .divDer {
  padding: 12px;
}
footer .mediosDePago img {
  max-width: 300px;
}

.segundoFooter {
  text-align: center;
  background-color: black;
}
.segundoFooter p {
  color: #fafafa;
}
.segundoFooter p strong {
  color: rgb(202, 43, 43);
}

/********** AJUSTES DE PANTALLA **********/
@media (max-width: 768px) {
  /* ENCABEZADO */
  .tamlogo {
    width: 100px;
  }
  /* CONTACTO */
  /* MAPA */
  .mapa {
    max-width: 450px;
    height: 300px;
  }
  /* FOOTER */
  footer {
    display: block;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  /* ENCABEZADO */
  .tamlogo {
    width: 80px;
  }
  .logoMarcas {
    display: none;
  }
  /* CONTACTO */
  /* MAPA */
  .mapa {
    max-width: 250px;
  }
  /* FOOTER */
  footer {
    font-size: 10px;
  }
  footer .mediosDePago img {
    max-width: 250px;
  }
}

/*# sourceMappingURL=estilo.css.map */
